.postDisplayCont {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(55, 55, 55);
  width: 100%;
  border-radius: 10px;
  padding: 1px;
}
.postDisplayCont img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid black;
}
.imgPostedBy {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 10px;
  margin-left: 5px;
  margin-top: 5px;
}
.imgPostedBy p {
  margin: 0;
}
.contentTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
}

.content {
  margin: 0;
  font-family: sans-serif, cursive;
  font-size: 4vw;
}
pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
.IconDiv {
  display: flex;
  height: 20px;
  overflow: hidden;
  gap: 2%;
  margin: 0;
  font-size: 2vw;
}
.thumbnail {
  margin: auto;
}
.icon {
  font-size: 2vw;
  cursor: pointer;
  margin: 0;
}
.retweet {
  cursor: help;
}
.showReply {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  gap: 10px;
}
.showReply p {
  margin: 0;
}
.delEdtCont {
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
}
.title {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-family: sans-serif;
  border-radius: 20px;
  font-weight: bold;
  font-size: 4vw;
  background-color: rgba(166, 0, 155, 0.744);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.333);
  font-size: 2vw;
  position: absolute;
  width: max-content;
  height: 35px;
  opacity: 0;
  transition: 0.5s;
}
.thumbnail:hover .text {
  opacity: 1;
}
.imgDelDiv {
  display: flex;
  width: 100%;
  height: 10px;
  justify-content: space-between;
}
