.postFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.welcome {
  position: absolute;
  top: -2%;
  right: 2%;
}
.container {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.postForm {
  margin: 0;
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
}
.textarea {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
}
.postForm button {
  background-color: rgb(142, 1, 149);
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}
.postForm button:hover {
  background-color: rgb(95, 0, 102);
  color: white;
  margin-top: 10px;
  border: none;
}
