.userIcon {
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
}
.homePageCont {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.welcomeSpan {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  justify-content: flex-end;
}
.welcomeSpan img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid black;
}
.addDiv {
  font-size: 2vw;
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}
.addPostDiv {
  display: flex;
  flex-grow: 0.2;
  align-items: center;
  margin: 0;
  gap: 5%;
}
.addPostDiv h1 {
  font-size: 3vw;
  margin: 0;
  margin-right: 10%;
  background-color: orangered;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
