.userIcon {
  margin-left: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.homePageCont {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.welcomeText {
  position: absolute;
  right: 2%;
  top: 0;
}
.welcomeSpan {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}
.welcomeSpan img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid black;
}
